<html>
    
	<body>
			<p> <b>stu_id</b> <%= @hc2.stu_id %></p>
			<p> <b>date</b> <%= @hc2.date %></p>
			<p> <b>prescription_no</b> <%= @hc2.prescription_no %></p>
			<p> <b>test_name</b> <%= @hc2.test_name%></p>
	
	</body>
  
</html>