<html>
<body>
      
      <form action="/hcs/index" method="get">
      <input type="submit" value="detail">
	  </form>


	  <form action="/hcs/login" method="get">
	   
	   <input type="submit" value="logout">
	   </form>
	   
	   
</body>
</html>