<html>
<head>
<title> Title </title></head>
<body>

<h1>All</h1>
<ul>
	<% for v in @i %>
		<li>
		<a href='/hc1s/<%= v.id %>'><%= v.stu_id %></a>
		
		</li>
	<% end %>
</ul>

</body>
</html>